h1, h2, h3, h4 {
  font-family: var(--inter-font);
  font-weight: 300;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 40px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
}
.pre-title {
  font-family: var(--funnel-sans-font);
  font-size: 20px;
  text-transform: uppercase;
}
.h1-bold {
  font-family: var(--stix-two-text-font);
  font-weight: 400;
  font-size: 45px;
}
.h2-bold {
  font-family: var(--stix-two-text-font);
  font-weight: 400;
  font-size: 42px;
}


/*Parragraph*/
.p-18 {
  font-size: 18px;
  font-family: var(--inter-font);
  font-weight: 600;
}
.p-16 {
  font-size: 16px;
  font-family: var(--inter-font);
  font-weight: 400;
  line-height: 24px;
}
.p-14 {
  font-size: 14px;
  font-family: var(--inter-font);
  font-weight: 400;
  line-height: 18px;
}
.p-10 {
  font-size: 10px;
  font-family: var(--inter-font);
  font-weight: 400;
  line-height: 150%;
}

/*Responsive*/
@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
  }
  .h1-bold {
    font-family: var(--stix-two-text-font);
    font-weight: 400;
    font-size: 42px;
  }
  .h2-bold {
    font-family: var(--stix-two-text-font);
    font-weight: 400;
    font-size: 24px;
  }
  .p-20 {
    font-size: 16px; 
    font-weight: 300;
  }
  .p-18 {
    font-size: 12px;
  }
  .p-16 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .p-14 {
    font-size: 12px;
    font-weight: 300;
  }
  .p-12 {
    font-size: 10px;
    font-weight: 300;
  
  }
}
/*Colors*/

.white {
  color: var(--crudo);
}
.coral   {
  color: var(--coral);
}

/*Font-Weight*/
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular{
  font-weight: 400;
}
.light {
  font-weight: 300;
}

/*Font-Style*/
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}