.btn {
  font-family: var(--inter-font);
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px 30px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  color: var(--black);
}
.btn-primary {
  background: var(--coral);
  color: var(--black);
}
.btn-secondary {
  background: none;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 0px;
}
.btn-primary:hover {
  background: none;
  border: 1px solid var(--coral);
  color: var(--coral);
}
footer .first-col {
  border-right: 1px solid var(--black);
}