#contacto {
    background-image: url('../../img/contacto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px 160px;
    @media (max-width: 1000px) {
        padding: 32px 0px;
    }
}
#contacto h1 {
    font-size: 70px;
    padding-bottom: 32px;
    @media (max-width: 1000px) {
        font-size: 30px;
        padding-bottom: 24px;
    }
}
.contact-text {
    padding-right: 400px;
    @media (max-width: 1000px) {
        padding-right:50px;
    }
}
.contact-text p {
    line-height: 16px;
    font-weight: 300;
}
.rrss {
    padding-top: 32px;
    @media (max-width: 1000px) {
        padding-top: 0px;
        display: flex;
    }
}
.rrss a {
    margin-right: 16px;
}
.rrss a img {
    width: 26px;
    transition: all 0.3s ease-in-out;
}
.rrss a img:hover {
    opacity: 0.8;
}
.contact-info {
    padding-top: 32px;
}
.contact-info p {
    color: var(--crudo);
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 0px;
    transition: all 0.3s ease-in-out;
}
.contact-info p:hover {
    color: var(--coral);
    text-decoration: underline;
}
.form-control {
    background-color: rgba(247, 243, 242, 0.43);
    border-radius: 0px;
    border: none;
    color: var(--coral);
}
.form-control:focus {
    background-color: rgba(247, 243, 242, 0.43);
    border-radius: 0px;
    border-color: var(--coral);
    box-shadow: none;
}
textarea.form-control, .form-control::placeholder, input.form-control::placeholder, input.form-control {
    color: var(--crudo) !important;
    font-family: var(--funnel-sans-font) !important;
    font-size: 16px !important;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
}